.container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 25px;
}

.totalPrize{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.totalPrize img{
    margin-left: 10px;
}